<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="../css/style.css" th:href="@{/css/style.css}" />
    <title>Loja FATEC</title>
</head>
<body>
  <h1 th:text="Papelaria Fatec">Papelaria Fatec</h1>

  <h3 th:text="Caderno:">Caderno:</h3>
  <div>
    <div>
        <img src="../img/pexels-eva-bronzini-7967488.jpg" class="img_product">
        <p>Nome</p>
        <p>Descrição</p>
        <input type="checkbox" name="" id="product1">
        <label for="product1"> Add carrinho</label>
    </div>
      <div></div>
      <div></div>
  </div>

  <h3 th:text="Marcatexto:">Marcatexto:</h3>

  <h3 th:text="Estojo:">Estojo:</h3>

</body>
</html>